.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        =link_to edit_user_path(current_user), class: "contents__btn" do
          = icon('far', 'edit')
        =link_to "#", class: "contents__btn" do
          = icon('fas', 'cog')
  .side-bar__group-name
    .group-box
      .group-box__name
      techcamp
      .group-box__message
      まだメッセージがありません
